{{extend 'layout.html'}}
<head>
    <link href="{{=URL('static', 'css/materialize.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{=URL('static', 'css/arena.css')}}" rel="stylesheet" type="text/css" />
</head>


<div class="row">
    <div class="col s12">
        <center>
            <span class="flow-text">
                <h1>Enter the CUISINE ARENA</h1>
            </span>
        </center>
    </div>
</div>

<div class="row">
    <div class="col s5">
        <center>
            <form>
              <input type="image" name = {{=images[0].title}} src="{{=URL('download', args=images[0].file)}}" width="300px" height="225px">
            </form>
        </center>
    </div>
    <div class="col s2";height: 90px;line-height: 90px;>
        <center>
            <p><h1>vs.</h1><p>
        </center>
    </div>
    <div class="col s5">
        <center>
            <form>
              <input type="image" name = {{=images[1].title}} src="{{=URL('download', args=images[1].file)}}" width="300px" height="225px">
            </form>
        </center>
    </div>
</div>

<div class="row">
    <div class="col s5">
        <center>
            <h5>{{=images[0].title}}</h5>
        </center>
    </div>
    <div class="col s5 offset-s2">
        <center>
            <h5>{{=images[1].title}}</h5>
        </center>
    </div>
</div>

<div class="row">
    <center>
        <div class="col s12">
            <form>
                <input class = "btn-large" type="submit" name="done" value="I'm DONE">
            </form>
        </div>
    </center>
</div>

<!-- <div class="box-1">
  <div class="btn btn-one">
    <span>HOVER ME</span>
  </div>
</div> -->

<div class="progress">
  <div class="determinate" style="width: {{=matchupProgress[0]}}"></div>
</div>

<table>
    <thead>
        <tr>
          <th data-field="Cuisine">Cuisine</th>
          <th data-field="ELO">ELO</th>
        </tr>
    </thead>
    <tbody>
        {{for cuisine, elo in ratings:}}
        <tr>
            <td> {{=cuisine}} </td>
            <td> {{=int(elo)}} </td>
        </tr>
        {{pass}}
    </tbody>
</table>
