{{extend 'layout.html'}}
<head>
    <link href="{{=URL('static', 'css/materialize.css')}}" rel="stylesheet" type="text/css"/>
<!--     <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <title>Optimal Pizza</title>
</head>
<body>
    <br>
    <br>
    <div class="row">
        <div class="col s8 offset-s2">
            <center>
                <br><br>
                {{if message:}}
                <h3>{{=message}}</h3>
                {{pass}}
                <br>
                <h1 class="title">Welcome to Optimal Pizza</h1>
                <br>
                <h2>Your Group Name: {{=group}}</h2>
                <br>
                <h2>Please Sign In at the Top</h2>
                <img src="../static/images/basic_logo.png" alt="some_text" style="width:250px; height:250px">
            </center>
        </div>
    <div class="row">
        <div class="col s12 grey lighten-1">
            <br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</body>
