{{extend 'layout.html'}}
<head>
    <link href="{{=URL('static', 'css/materialize.css')}}" rel="stylesheet" type="text/css" />
    <title>Optimal Pizza</title>
</head>
<body>
    <center>
        <h1 class="title">Welcome to Optimal Pizza</h1>
        <br>
        <img src="../static/images/facebook.png" alt="some_text" style="width:150px; height:150px">
        <br>
        <br>
        <form>
            <input type="submit" name="signin" value="Sign In">
            <br>or<br>
            <input type="submit" name ="signup" value="Sign Up"><br>
        </form>
    </center>
</body>
