{{extend 'layout.html'}}
<head>
    <link href="{{=URL('static', 'css/materialize.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <h1>Please enter your location and price preferences below before beginning.</h1>
        <h4>{{=error_msg}}</h4>
        <form>
            <div style="height: 300px;">
                Zip code: <br>
                <input type="number" name="zipcode" maxlength="5" id="zipcodeField" required><br>
                Radius to search (in miles):<br>
                <input type="number" name="radius" required ><br>
                Price tiers: <br>
                <input type="checkbox" name="price" id="price1" value="1"><label for="price1">$</label>	&nbsp; &nbsp;
                <input type="checkbox" name="price" id="price2" value="2"><label for="price2">$$</label> &nbsp; &nbsp;
                <input type="checkbox" name="price" id="price3" value="3"><label for="price3">$$$</label> &nbsp; &nbsp;
                <input type="checkbox" name="price" id="price4" value="4"><label for="price4">$$$$</label> &nbsp; &nbsp;
                <br>
                <input type="radio" onclick="javascript:yesnoCheck();" name="group" id="yesCheck" value="alone" checked >
                <label for="yesCheck">I'm Alone</label>
                <input type="radio" onclick="javascript:yesnoCheck();" name="group" id="noCheck" value="group">
                <label for="noCheck">I'm in a Group</label>
                <br>
                <div id="ifYes" style="visibility:hidden">
                    <div class="row">
                        <input type="radio" onclick="javascript:yesnoCheck();" name="create" id="yesCheck2" value="create" checked>
                        <label for="yesCheck2">Create a New Group</label>
                        <input type="radio" onclick="javascript:yesnoCheck();" name="create" id="noCheck2" value="join">
                        <label for="noCheck2">Join Existing Group</label>
                        <div id="ifYes2">
                            <label for="createGroupId">New Group ID</label>
                            <input type="text" id="createGroupId" name="createGroupId">
                            <label for="createPassword">New Group Password (optional)</label>
                            <input type="password" id="createPassword" name="createPassword">
                            <label for="emails">Send Emails (optional, one per line)</label>
                            <textarea id="emails" name="emails" cols="40" rows="5""></textarea>
                        </div>
                        <div id="ifNo2" style="visibility:hidden">
                            <label for="createGroupId">Group ID</label>
                            <input type="text" id="joinGroupId" name="joinGroupId">
                            <label for="joinPassword">Group Password</label>                            
                            <input type="password" id="joinPassword" name="joinPassword">
                        </div>
                    </div>
                </div>
                <input type="submit">
            </div>
            <br>
        </form>
    </div>
</body>

<script type="text/javascript">

$(document).ready(function(){
setTimeout(function (){
    var useCurrentLocation = window.confirm("Would you like to use your current location?");
    if (useCurrentLocation == true) {
        $.ajax({
            type: "POST",
            url: "getZipCode",
            data: { },
            success: function(data){
                console.log('test');
                console.log(data);
                $(zipcodeField).val(data);
            }
        });
    }
}, 1000);

});
</script>

<script>
function yesnoCheck() {
    if (document.getElementById('noCheck').checked) {
        document.getElementById('ifYes').style.visibility = 'visible';
        if(document.getElementById('yesCheck2').checked) {
            document.getElementById('ifYes2').style.visibility = 'visible';
            document.getElementById('ifNo2').style.visibility = 'hidden';
        }
        else {
            document.getElementById('ifYes2').style.visibility = 'hidden';
            document.getElementById('ifNo2').style.visibility = 'visible';            
        }
    } else {
        document.getElementById('ifYes').style.visibility = 'hidden';
        document.getElementById('ifYes2').style.visibility = 'hidden';
        document.getElementById('ifNo2').style.visibility = 'hidden';
    }
}
</script>
