{{extend 'layout.html'}}
<head>
    <link href="{{=URL('static', 'css/materialize.css')}}" rel="stylesheet" type="text/css" />
</head>
<h1>This is the welcome/signup.html template</h1>
<form>
	Username:<br>
    <input type="text" name="username" placeholder="Username"><br>
    Password:<br>
    <input type="text" name="password" value="iluvgoofy"><br>
    Confirm Password:<br>
    <input type="text" name="confirmation" value="iluvgoofy"><br>
    First name:<br>
    <input type="text" name="firstname" value="Mickey"><br>
    Last name:<br>
    <input type="text" name="lastname" value="Mouse"><br>
    E-mail:<br>
    <input type="text" name="email" value="example@gmail.com"><br>
	<input type="submit">
</form>
{{=BEAUTIFY(response._vars)}}
