{{extend 'layout.html'}}
<head>
    <link href="{{=URL('static', 'css/materialize.css')}}" rel="stylesheet" type="text/css" />
</head>
<h1>Sign Up</h1>    
<h4>
{{if error:}}{{=message}}{{pass}}
</h4>
<form>
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="confirmation" placeholder="Confirm Password"><br>
    <input type="text" name="firstname" placeholder="First Name"><br>
    <input type="text" name="lastname" placeholder="Last Name"><br>
    <input type="text" name="email" placeholder="E-Mail"><br>
	<input type="hidden" name="submited" value="True">
    <input type="submit">
</form>
